<div class="card mt-2">
  <div class="card-header">
    <div class='row'>
      <div class='col-lg-9 mx-auto'>
        <h5>Scrape Product Details</h5>
      </div>
      <div class='col-lg-3 mx-auto'>
        <div class="d-flex justify-content-end">
          <%= text_field_tag :query, nil, id: "search-input", placeholder: "Search by product name...", class:'form-control' %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class='row'>
      <div class='col-lg-6 mx-auto'>
        <%= form_with url: product_details_scrape_path, method: :post do |form| %>
          <%= form.label :product_url, "Add New Product: ", class:'h6'%>
          <%= form.text_field :product_url, placeholder: "Enter amazon product URL here", class:'form-control'  %>
          <%= form.submit "Submit" , class:'btn btn-success mt-2'%>
        <% end %>
      </div>
      <div class='col-lg-6 mx-auto'>
        <div class="d-flex justify-content-end">
          <h6 class='me-2'>Select Category:</h6>
          <%= form_with(url: product_details_path, method: :get) do %>
            <%= select_tag :category, options_for_select(Product.pluck(:category).uniq, params[:category]), include_blank: true, onchange: "this.form.submit();", class:'form-select' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='mt-4'>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Created at</th>
            <th scope="col">Updated at</th>
          </tr>
        </thead>
        <tbody class="table-group-divider" id="products-table-body">
          <%= render 'product_list' %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var searchInput = document.getElementById('search-input');
    var timeoutId;

    searchInput.addEventListener('input', function(event) {
      clearTimeout(timeoutId);
      timeoutId = setTimeout(function() {
        var searchData = event.target.value.trim();
        console.log("Search input data:", searchData);
        fetchProductDetails(searchData);
      }, 500);

    function fetchProductDetails(searchData) {
      fetch('<%= product_details_search_product_path %>?search_input=' + encodeURIComponent(searchData))
        .then(response => response.text())
        .then(data => {
          document.getElementById('products-table-body').innerHTML = data;
        })
        .catch(error => console.error('Error:', error));
    }
    });
  });
</script>